.middle-div{
    width: 100%;
    height:89.5vh;
    background-color: #E5E5E5;
    text-align: center;
}
.main-div{
    background-color: #E5E5E5;
}
.middle-div img{ 
    margin-top: 5rem;
    margin-left: 10rem;
}