*{
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.sidebar {
  position: fixed;
  background: #FFFFFF;
  width: 16vw !important;
  height: 100%;
  // border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
  border:1px solid #c5c7c9;
}

#logo {
  width: 100%;
  max-width: 169px;
  height: 25%;
  text-align: center;
}

#first-heading{
  margin-left: 30%;
  color:black;
  margin-top:5vh;
}
.listSize{
  font-size: 0.7rem !important;
}
#add-sidebar-manu ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  //color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

#add-sidebar-manu ul li a .icon{
  //color: #dee4ec;
  width: 30px;
  display: inline-block;
}
