*{
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.sidebar {
  position: fixed;
  background: #FFFFFF;
  width: 16vw !important;
  height: 100%;
  // border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
  border:1px solid #c5c7c9;
}
.sidebar #first-img{
  text-align: center;
}

.sidebar #first-img img{ 
  margin-top: 2rem;
  width:25vh;
}

#first-heading{
  text-align:center;
  color:black;
  margin-top:5vh;
}
.listSize{
  font-size: 0.7rem !important;
}